/* ================================================== 0;
                        ZEROING
===================================================== */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}


/* ==================================================
                        FONTS
===================================================== */

@font-face {
  font-family: 'Circular Std';
  src: local('Circular Std Book'), local('Circular-Std-Book'),
    url('../fonts/CircularStd-Book.woff2') format('woff2'),
    url('../fonts/CircularStd-Book.woff') format('woff'),
    url('../fonts/CircularStd-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: local('Circular Std Medium'), local('Circular-Std-Medium'),
    url('../fonts/CircularStd-Medium.woff2') format('woff2'),
    url('../fonts/CircularStd-Medium.woff') format('woff'),
    url('../fonts/CircularStd-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
blockquote {
  cursor: default;
  font-family: "Open Sans";
}

h1 {
  font-style: normal;
  font-weight: 800;
  font-size: calc(35px + 20 * ((100vw - 320px) / (1920 - 320)));
  line-height: 130%;
  color: #FFFFFF;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: calc(26px + 14 * ((100vw - 320px) / (1920 - 320)));
  line-height: 130%;
  color: #FFFFFF;
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: calc(16px + 9 * ((100vw - 320px) / (1920 - 320)));
  line-height: 125%;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.7;
}

h4 {
  cursor: pointer;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: calc(14.5455px + 8 * ((100vw - 320px) / (1920 - 320)));
  line-height: 138%;
  color: #3A68B8;
}

h5 {
  font-style: normal;
  font-weight: 600;
  font-size: calc(12px + 6 * ((100vw - 320px) / (1920 - 320)));
  line-height: 160%;
  text-transform: uppercase;
  color: #3A68B8;
}

h6 {
  font-style: normal;
  font-weight: 600;
  font-size: calc(12px + 6 * ((100vw - 320px) / (1920 - 320)));
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.7;
}

p {
  font-style: normal;
  font-weight: 600;
  font-size: calc(10px + 6 * ((100vw - 320px) / (1920 - 320)));
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.7;
}

a {
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: calc(10px + 6 * ((100vw - 320px) / (1920 - 320)));
  line-height: 138%;
  color: #FFFFFF;
}

/* ==================================================
                        MAIN
===================================================== */

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.ailgnCenter {
  text-align: center;
}

html,
body {
  height: 100%;
  min-height: 100%;
  min-width: 320px;
  margin: 0;
  background-color: #020A18;
  position: relative;
}

/* ==================================================
                        HEADER
===================================================== */

header {
  font-family: 'Circular Std';
  display: flex;
  align-content: center;
  justify-content: space-between;
  height: calc(80px + 20 * ((100vw - 320px) / (1920 - 320)));
  padding: 0 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) -41.9%, #ffffff02 260.24%);
  backdrop-filter: blur(100px);
  border-radius: 10px;
  z-index: 200;
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  header {
    justify-content: center;
  }
}

.logoNameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  transition: all 0.5s ease 0.1s;
}

.logoNameContainer:hover {
  filter: drop-shadow(0px 0px 5px rgb(91, 208, 244));

}


.logo {
  cursor: pointer;
  margin-right: 15px;
}

.navMenu {
  display: none;
  align-items: center;
  justify-content: space-between;
  margin: 0px calc(56px + 200 * ((100vw - 320px) / (1920 - 320))) 0px calc(4px + 80 * ((100vw - 320px) / (1920 - 320)));
  width: calc(251px + 150 * ((100vw - 320px) / (1920 - 320)));
  z-index: 200;
}

.navMenu a {
  transition: all 0.3s ease-in-out 0.03s;
}

.navMenu a:hover {
  text-shadow: 0 0 10px #5BD0F4;
}

@media (min-width: 768px) {
  .navMenu {
    display: flex;
  }
}

.navMenu__item {
  text-decoration: none;
}

.navBurgerMenu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin: 0 20px;
  padding: 40px;
}

.navBurgerMenu a h2 {
  cursor: pointer;
  margin-bottom: 50px;
}

.blueButton {
  background-color: #3A68B8;
  color: #ffff;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  align-self: center;
  z-index: 200;
  flex-direction: row;
  align-items: center;
  display: flex;
  transition: all 0.25s ease-in-out 0s;
}

.blueButton:hover {
  box-shadow: 7px 5px 56px -14px #5BD0F4;
  background: linear-gradient(145deg, #5BD0F4, #3A68B8);


}

.blueButton:active {
  /* background: linear-gradient(145deg, #00000020, #3A68B8); */
  box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  transform: scale(0.97);
  /* box-shadow: 7px 5px 56px -10px #5BD0F4; */
}



.blueButtonHeader {
  display: none;
}

.blueButtonBurgerMenu {
  display: flex;
  margin: 0 20px;
}

@media (min-width: 768px) {
  .blueButtonHeader {
    display: block;
  }
}

.burgerBtn {
  width: calc(40px + 10 * ((100vw - 320px) / (1920 - 320)));
  cursor: pointer;
  display: block;
  z-index: 200;
}

@media (min-width: 768px) {
  .burgerBtn {
    display: none;
  }
}

/* ==================================================
                      BURGER MENU
===================================================== */

.burgerMenu {
  display: none;
}

.burgerMenu.show {
  display: block;
}

@media (min-width: 768px) {
  .burgerMenu.show {
    display: none;
  }
}

.SignIn__background,
.videoPlayer__background,
.backgroundBurgerMenu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0.5;
  background: #000000;
  top: 0;
  left: 0;
}

.SignIn__background.show,
.backgroundBurgerMenu.show {
  display: block;
}


.burgerMenuContainer {
  z-index: 999999;
  position: absolute;
  background-color: #000000;
  height: 100%;
  width: 320px;
  z-index: 10000;
  top: 0;
  right: -280px;
  -o-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.25s ease-in-out;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.02) -41.9%, rgba(255, 255, 255, 0.04) 260.24%);
  backdrop-filter: blur(100px);
  border-radius: 10px;
}

.burgerMenuContainer.show {
  display: block;
  -o-transform: translate3d(-280px, 0px, 0px);
  -ms-transform: translate3d(-280px, 0px, 0px);
  -moz-transform: translate3d(-280px, 0px, 0px);
  -webkit-transform: translate3d(-280px, 0px, 0px);
  transform: translate3d(-280px, 0px, 0px);
}

.buttonsWrapper {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  margin-top: 18px;
}

.videoPlayer__exitBtn,
.exitBtnBurgerMenu {
  cursor: pointer;
  width: 45px;
  height: 45px;

  transform: rotate(-90deg);
  transition: all 0.3s ease-in-out 0s;
}

.exitBtnBurgerMenu:hover {
  filter: drop-shadow(2px 0px 12px rgb(91, 208, 244));
  transform: scale(1.1);
  transform: rotate(90deg);

}

/* ==================================================
                      FIRST BLOCK
===================================================== */

.firstBlock {
  margin-top: -10px;
  padding: 20px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.02) -41.9%, rgba(255, 255, 255, 0.04) 260.24%);
  backdrop-filter: blur(100px);
  border-radius: 10px;
  z-index: 100;
  position: relative;
  height: 950px;
  padding-top: calc(20px + 22 * ((100vw - 320px) / (1920 - 320)));
  left: 0px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media (min-width: 627px) {
  .firstBlock {
    height: calc(800px + 100 * ((100vw - 596px) / (808 - 627)));
  }
}

@media (min-width: 808px) {
  .firstBlock {
    padding-left: calc(20px + 367 * ((100vw - 808px) / (1920 - 808)));
    height: calc(650px + 150 * ((100vw - 808px) / (1338 - 808)));
    padding-right: calc(20px + 163 * ((100vw - 808px) / (1920 - 808)));
  }
}

@media (min-width: 1554px) {
  .firstBlock {
    height: calc(750px + 150 * ((100vw - 1338px) / (1920 - 1338)));
  }
}

.firstBlock__mainPart {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: calc(35px + 55 * ((100vw - 320px) / (1920 - 320)));
  ;

}

@media (min-width: 808px) {
  .firstBlock__mainPart {
    flex-direction: row;
    height: calc(400px + 234 * ((100vw - 808px) / (1920 - 808)));
    align-items: center;
  }
}

.firstBlock__leftSide {
  margin: 0 calc(20px + 84 * ((100vw - 320px) / (1920 - 320))) 0 0;
  max-width: 604px;
}

.firstBlock__blueTitle {
  margin: 0 0 10px 0;
}


.firstBlock__mainHeader {
  margin: 0 0 calc(18px + 22 * ((100vw - 320px) / (1920 - 320))) 0;
}

.firstBlock__about {
  margin: 0 0 calc(18px + 32 * ((100vw - 320px) / (1920 - 320))) 0;
}

.firstBlock__picture {
  width: 50%;
  max-width: 632px;
  margin-right: 20px;
  min-width: 280px;
}

.firstBlock__buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.playBtn {
  margin-left: calc(14px + 6 * ((100vw - 320px) / (1920 - 320)));
}

.playIcon {
  width: calc(0.75*(14px + 6 * ((100vw - 320px) / (1920 - 320))));
  height: calc(14px + 6 * ((100vw - 320px) / (1920 - 320)));
  align-self: center;
  margin-right: calc(6px + 4 * ((100vw - 320px) / (1920 - 320)));
}

.normalOpacity {
  opacity: 1;
  margin: 0;
  line-height: 138%;
}

.partners {
  display: flex;
  max-width: 1146px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center
}

@media (min-width: 1554px) {
  .partners {
    justify-content: flex-start;
  }
}

.partnerImg {
  margin-right: 70px;
  margin-bottom: calc(20px + 22 * ((100vw - 320px) / (1920 - 320)));
}

.zeroMargin {
  margin-right: 0;
}

/* ==================================================
                        SECOND BLOCK
===================================================== */

.secondBlock {

  margin-top: calc(20px + 117 * ((100vw - 320px) / (1920 - 320)));
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(650px + 150 * ((100vw - 808px) / (1338 - 808)));
  flex-direction: column;
  margin-bottom: calc(60px + 110 * ((100vw - 320px) / (1920 - 320)));
  padding: 0 20px;
}

@media (min-width: 808px) {
  .secondBlock {
    flex-direction: row;
    align-items: center;
    padding-right: calc(20px + 367 * ((100vw - 880px) / (1920 - 880)));
    height: calc(650px + 150 * ((100vw - 808px) / (1338 - 808)));
    padding-left: calc(20px + 163 * ((100vw - 880px) / (1920 - 880)));
  }
}

.secondBlock__picture {
  width: 50%;
  max-width: 632px;
  min-width: 280px;
}

@media (min-width: 808px) {
  .secondBlock__picture {
    margin-right: 20px;
  }
}

.secondBlock__textContent {
  max-width: 484px;
  min-width: 280px;
  display: flex;
  flex-direction: column;
}

.secondBlock__title {
  margin-bottom: calc(10px + 20 * ((100vw - 320px) / (1920 - 320)));

}

.secondBlock__text {
  margin-bottom: calc(20px + 30 * ((100vw - 320px) / (1920 - 320)));
}

.secondBlockBtn {
  align-self: center;
}

@media (min-width: 808px) {
  .secondBlockBtn {
    align-self: flex-start;
  }
}

/* ==================================================
                        SLIDER
===================================================== */

.slider {
  display: flex;
  flex-direction: column;
  margin-bottom: calc(30px + 140 * ((100vw - 320px) / (1920 - 320)));

  overflow: hidden;
}

.slider__cardsList {
  display: flex;
  flex-direction: row;
  min-width: 1600px;
}

.slider__card {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.02) -41.9%, #ffffff10 115.68%);
  backdrop-filter: blur(100px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(10px + 20 * ((100vw - 320px) / (1920 - 320)));
  margin-right: 30px;
  text-align: center;
  justify-content: space-between;
  height: 100%;
}

.card__picture {
  margin-bottom: 30px;
}

.card__title {
  margin-bottom: 30px;
}

.slider__indicators {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: calc(20px + 30 * ((100vw - 320px) / (1920 - 320)));

}



.indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #2C3647;
  opacity: 0.5;
  backdrop-filter: blur(100px);
  margin: 5px;
  padding: 0;
}

.indicatorActive {
  opacity: 1;
}

.indicator.is-active {
  opacity: 1;
}



/* ==================================================
                      THIRD BLOCK
===================================================== */

.thirdBlock {
  display: flex;
  align-items: center;
  padding: 0 20px;
  flex-direction: column;
  margin-bottom: calc(30px + 140 * ((100vw - 320px) / (1920 - 320)));
  justify-content: center;
}

@media (min-width: 808px) {
  .thirdBlock {
    flex-direction: row;
    padding: 0 calc(20px + 367 * ((100vw - 808px) / (1920 - 808)));
    align-items: center;
  }
}

.thirdBlock__picture {
  max-width: 632px;
  width: calc(280px + 362 * ((100vw - 320px) / (1920 - 320)));

}

.thirdBlock__textContent {
  width: 100%;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

@media (min-width: 808px) {
  .thirdBlock__textContent {
    width: calc(280px + 268 * ((100vw - 320px) / (1920 - 320)));
    margin-right: calc(-43px + 43 * ((100vw - 808px) / (1920 - 808)));
    margin-bottom: 0;
  }
}

.thirdBlock__title {
  margin-bottom: calc(15px + 25 * ((100vw - 320px) / (1920 - 320)));
  width: 100%;
}

@media (min-width: 808px) {
  .thirdBlock__title {
    width: calc(280px + 290 * ((100vw - 320px) / (1920 - 320)));
  }
}

.thirdBlock__text {
  width: 85%;
  max-width: 460px;
  margin-bottom: calc(10px + 10 * ((100vw - 320px) / (1920 - 320)));
}

@media (min-width: 808px) {
  .thirdBlock__text {
    width: calc(200px + 260 * ((100vw - 320px) / (1920 - 320)));
  }
}

/* ==================================================
                        FOOTER
===================================================== */
footer {
  font-family: 'Circular Std';
  padding-left: calc(20px + 404 * ((100vw - 808px) / (1920 - 808)));
  padding-right: calc(20px + 337 * ((100vw - 1220px) / (1920 - 1220)));
  padding-bottom: calc(40px + 108 * ((100vw - 320px) / (1920 - 320)));
  padding-top: calc(30px + 46 * ((100vw - 320px) / (1920 - 320)));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.01) -41.9%, #ffffff05 260.24%);
  backdrop-filter: blur(100px);
  border-radius: 10px;
  flex-wrap: wrap;
}

footer a {
  cursor: pointer;
}

@media (min-width: 808px) {
  footer {
    flex-direction: row;
    align-items: end;
  }
}

@media (min-width: 900px) {
  footer {
    flex-wrap: nowrap;
  }
}

.firstBlock__text,
.conact__text,
.footer__title,
.footer__link,
.footer__contact,
.languageSwitch__name,
.lastBlock__text {
  cursor: default;
  font-family: 'Circular Std';
}

.footer__firstBlock {
  width: 261px;
  display: flex;
  flex-direction: column;

}

.footer__logoNameContainer {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


.footer__titleAndSign {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
}

.footer__linkColumns_mobile .footer__column {
  width: 261px;
}

.footer__linkColumns_mobile .footer__title {
  margin-bottom: 0;
}

.footer__linkColumns_mobile .footer__link {
  margin-left: 10px;
}


.footer__column {
  display: flex;
  flex-direction: column;
  width: 164px;
  border-top: 1px solid #8a8a8a;
  cursor: pointer;
}

.footer__column a,
.footer__column h6,
.footer__column img,
.footer__column {
  cursor: pointer;
}

.footer__titleAndSign:hover h6,
.footer__titleAndSign:hover img {
  filter: drop-shadow(2px 0px 12px rgb(91, 208, 244));
  scale: 1.05;
}

.footer__linkColumns_desktop .footer__column {
  margin-right: calc(-43px + 67 * ((100vw - 900px) / (1920 - 900)));
}


.footer__linkColumns_desktop {
  display: flex;
  flex-direction: column;
}

@media (min-width: 808px) {
  .footer__linkColumns_desktop {
    flex-direction: row;
  }
}




.footer__linkColumns_desktop {
  display: none;
}

@media (min-width: 808px) {
  .footer__linkColumns_desktop {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1280px) {
  .footer__linkColumns_desktop {
    margin-left: 24px;
  }
}

.footer__linkColumns_mobile {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #8a8a8a;
  margin: 20px 0;
}

@media (min-width: 480px) {
  .footer__linkColumns_mobile {}
}

@media (min-width: 808px) {
  .footer__linkColumns_mobile {
    display: none;
    flex-direction: row;
  }
}


/* ============================================= */
/* .creators  */

.footer__column .sign.minus {
  display: none;
}

.footer__linkColumns_mobile .footer__column>.footer__link {
  display: none;
}

.footer__column>.authors_title_and_sign {
  margin-top: 0px;
}

.footer__column.show .sign.minus {
  display: block;
}

.footer__column.show .sign.plus {
  display: none;
}

/* .artists  */




.footer__column.show {
  padding-bottom: 20px;
  /* padding-top: 10px; */
}

@media (min-width: 480px) {
  .footer__column.show {
    /* padding-bottom: 12px;
    padding-top: 13px; */
  }
}

.footer__column.show>.footer__link {
  display: block;
}

.sign {
  width: 10px;
}

.footer__column.show>.footer__link {
  display: block;
}

.footer__column.show .sign.minus {
  display: block;
}

.footer__column.show .sign.plus {
  display: none;
}

@media (min-width: 808px) {

  .footer__column {
    border-bottom: none;
    border-top: none;
    width: 180px;
    margin-right: 24px;
  }
}


.footer__column.hide {
  padding-bottom: 0px;
}

.authors_title_and_sign {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  height: 40px;
}

@media (min-width: 480px) {
  .authors_title_and_sign {
    margin-top: 12px;
  }
}

.authors_title_and_sign.hide {
  margin-top: 0px;
}

/* ================================================== */






.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-top: 20px;
  color: #FFFFFF;
  opacity: 0.6;
  transition: all 0.3s ease-in-out 0.03s;
}

.footer__link:hover {
  opacity: 0.9;
  text-shadow: 0 0 10px #5BD0F4;
}



.footer__languageSwitch {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  margin-top: 30px;
}

@media (min-width: 900px) {
  .footer__languageSwitch {
    margin-top: 40px;
  }
}

@media (min-width: 996px) {
  .footer__languageSwitch {
    margin-top: 58px;
  }
}

@media (min-width: 1630px) {
  .footer__languageSwitch {
    margin-top: 41px;
  }
}

.languageSwitch__logo,
.languageSwitch__mark {
  z-index: 9999999;
}

.languageSwitch__mark {
  margin-left: -32px;
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out 0.1s;
}

.up {
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out 0.1s;
}




.footer__lastBlock {
  display: flex;
  flex-direction: column;
  width: 261px;
  margin-top: 0;
}

@media (min-width: 808px) {
  .footer__lastBlock {
    margin-top: 20px;
  }
}

@media (min-width:900px) {
  .footer__lastBlock {
    margin-top: 0;
  }
}


.firstBlock__contacts {
  display: flex;
  flex-direction: column;
}

.footer__contact {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-grow: 0;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.footer__mainTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 15.9627px;
  line-height: 22px;
  margin-bottom: 10px;
}

.firstBlock__text,
.lastBlock__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  opacity: 0.6;
}


.firstBlock__text {
  margin-bottom: 16px;
}

.footer__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  opacity: 1;
  margin-bottom: 12px;
  color: #FFFFFF;
}

.conact__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  opacity: 1;
  color: #FFFFFF;
}

.footer__logo {
  margin-bottom: 8px;
}

.contact__logo {
  margin-right: 10px;
}

.languageSwitch__name {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  opacity: 1;
  margin: 0 10px 0 8px;
  color: #FFFFFF;
}

.footer__socialLinks {
  margin-top: 22px;
  display: flex;
  flex-wrap: nowrap;

}


.footer__socialLinks a img {
  transition: all 0.3s ease-in-out 0.05s;
}

.footer__socialLinks a:hover img {
  filter: drop-shadow(3px 1px 4px #5BD0F4);
  transform: scale(1.1);
}

.footer__socialLink {
  margin-right: 25px;
}

.conact__text_lastBlock {
  margin-top: 29px;
}

.lastBlock__text {
  margin-top: 0;
}

@media (min-width: 1630px) {
  .lastBlock__text {
    margin-top: 13px;
  }
}


/* ==================================================
                        SLIDER
===================================================== */

.itcss {
  margin-bottom: 100px;
  width: 100%;
}

/* .itcss__items {
  counter-reset: slide;
} */

.itc__item {
  flex: 0 0 20%;
  max-width: 20%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
  font-size: 7rem;
}

/* .itcss__item {
  counter-increment: slide;
} */

.itcss__item>div::before {
  /* content: counter(slide); */
  position: absolute;
  top: 10px;
  right: 20px;
  color: #fff;
  font-style: italic;
  font-size: 32px;
  font-weight: bold;
}

.itcss__item>div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  height: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.itcss__item_active .itcss__text {
  animation-name: fadeIn;
  animation-duration: 2s;
}

.itc-slider__indicators {
  display: none;
  list-style: none;
  justify-content: center;
  margin-top: calc(20px + 30 * ((100vw - 320px) / (1920 - 320)));
}

@media (min-width: 336px) {
  .itc-slider__indicators {
    display: flex;
  }
}

@media (min-width: 968px) {
  .itc-slider__indicators>li:nth-child(4) {
    display: none;
  }

  .itc-slider__indicators>li:nth-child(5) {
    display: none;
  }
}



@media (min-width: 768px) {
  .article_wraper {
    width: 344px;
  }

  /* .article_wraper:nth-of-type(n + 5) {
    border-bottom: none;
    margin-bottom: 0;
  } */
  .article_wraper:nth-child(2n + 1) .article {
    border-right: 1px solid #8a8a8a;
    padding-right: 12px;
  }

  .article_wraper:nth-child(2n) .article {
    /* border-right: 1px solid #8a8a8a; */
    padding-left: 12px;
  }
}



/* .itcss__indicators  */
  {
  display: flex;
  justify-content: center;
  align-content: center;
  list-style: none;
  margin-top: calc(20px + 30 * ((100vw - 320px) / (1920 - 320)));
}

.itc-slider__indicator,
.itcss__indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #2C3647;
  opacity: 0.5;
  backdrop-filter: blur(100px);
  margin: 5px;
}

.itcss__indicator_active {
  opacity: 1;
}

/* -------------------------------------------------- */
.slider__indicators {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: calc(20px + 30 * ((100vw - 320px) / (1920 - 320)));
}

.indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #2C3647;
  opacity: 0.5;
  backdrop-filter: blur(100px);
  margin: 5px;
}

.indicatorActive {
  opacity: 1;
}

.videoPlayer {
  z-index: 10000;
  display: none;
  position: fixed;
  top: calc(50% - 79px);
  width: 100%;
  height: 158px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.videoPlayer.show {
  display: flex;
}

.videoPlayer iframe {
  z-index: 10100;
  scale: 0.8;

}

@media (min-width: 680px) {
  .videoPlayer iframe {
    scale: 1;
  }
}

@media (min-width: 900px) {
  .videoPlayer iframe {
    scale: 1.25;
  }
}

@media (min-width: 1080px) {
  .videoPlayer iframe {
    scale: 1.5;
  }
}

@media (min-width: 1180px) {
  .videoPlayer iframe {
    scale: 1.75;
  }
}

@media (min-width: 1280px) {
  .videoPlayer iframe {
    scale: 2;
  }
}

@media (min-width: 1380px) {
  .videoPlayer iframe {
    scale: 2.15;
  }
}

@media (min-width: 1480px) {
  .videoPlayer iframe {
    scale: 2.25;
  }
}

@media (min-width: 1580px) {
  .videoPlayer iframe {
    scale: 2.35;
  }
}


.videoPlayer__exitBtn {
  z-index: 10101;
  position: fixed;
  right: 20px;
  top: 450px;
  transition: all 0.5s ease-in-out 0s;
  display: none;
}

@media (min-width: 768px) {
  .videoPlayer__exitBtn {
    top: calc(260px - 240 * ((100vw - 768px) / (1920 - 768)));
    display: block;
  }
}

.videoPlayer__exitBtn:hover {
  filter: drop-shadow(2px 0px 12px rgb(91, 208, 244));

  transform: scale(1.1);
  transform: rotate(90deg);

}

.exit_SignIn_bg,
.exit_video_bg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0.5;
  display: block;
  background: #000000;
  top: 0;
  left: 0;
}

/* .exit_video_bg.show{
  display:block;
} */
@media (min-width: 768px) {


  .exit_video_bg {
    display: none;
  }
}




.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.shape:first-child {
  background: linear-gradient(#1845ad,
      #23a2f6);
  left: -80px;
  top: -80px;
}

.shape:last-child {
  background: linear-gradient(to right,
      #ff512f,
      #f09819);
  right: -30px;
  bottom: -80px;
}

form {
  height: 520px;
  width: 400px;
  background: linear-gradient(#1845ad17,
      #23a2f61a);
  /* background-color: rgba(255, 255, 255, 0.13); */
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
  z-index: 10000;
  position: fixed;
}

form * {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

::placeholder {
  color: #e5e5e5;
}

button {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.social {
  margin-top: 30px;
  display: flex;
}

.social div {
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255, 255, 255, 0.27);
  color: #eaf0fb;
  text-align: center;
}

.social div:hover {
  background-color: rgba(255, 255, 255, 0.47);
}

.social .fb {
  margin-left: 25px;
}

.social i {
  margin-right: 4px;
}

.SignInBtn {
  justify-content: center;
}

input:hover {
  border: 2px solid rgba(48, 164, 236, 0.519);
}

input:focus {
  border: 4px solid rgba(48, 164, 236, 0.519);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 217, 255, 0.571);
}

::-webkit-input-placeholder {
  opacity: 0.4;
}

::-moz-placeholder {
  opacity: 0.4
}

/* Firefox 19+ */
:-moz-placeholder {
  opacity: 0.4
}

/* Firefox 18- */
:-ms-input-placeholder {
  opacity: 0.4
}

.fab {
  height: 15px;
  width: 15px;
}

.SignIn {
  display: none;
}

.SignIn.show {
  display: block;
}